/* From https://github.com/w3c/clreq/blob/gh-pages/local.css */
@font-face {
  font-family: 'Punctuation SC';
  src: local('PingFang SC'), local('Noto Sans SC'), local('Noto Sans CJK SC'), local('Heiti SC'), local('Microsoft Yahei');
  unicode-range: U+201C, U+201D, U+2018, U+2019, U+2E3A, U+2014, U+2013, U+2026, U+00B7, U+007E, U+002F; /* Unicode range for punctuation marks */
}

:lang(zh-hans) {
  font-family: 'Punctuation SC', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', 'PingFang SC', 'Noto Sans SC', 'Noto Sans CJK SC', 'Heiti SC', 'DengXian', 'Microsoft YaHei', sans-serif;
}

.uchen {
  font-family: "Qomolangma-Dunhuang","Qomolangma-Uchen Sarchen","Qomolangma-Uchen Sarchung","Qomolangma-Uchen Suring","Qomolangma-Uchen Sutung","Qomolangma-Title","Qomolangma-Subtitle","Qomolangma-Woodblock","BabelStone Tibetan Slim",Jomolhari,"Yagpo Tibetan Uni","DDC Uchen","DDC Rinzin",Kailash,"TCRC Youtso Unicode","Tibetan Machine Uni",Wangdi29,"Noto Serif Tibetan","Noto Sans Tibetan","Microsoft Himalaya";
}

p:lang(mn) {
  font-family: "Menk Hawang Tig", "Menk Qagan Tig", "Menk Garqag Tig", "Menk Har_a Tig", "Menk Scnin Tig", "Oyun Gurban Ulus Tig", "Oyun Qagan Tig", "Oyun Garqag Tig", "Oyun Har_a Tig", "Oyun Scnin Tig", "Oyun Agula Tig", "Mongolian Baiti", "Mongolian Universal White", "Noto Sans Mongolian", "Mongol Usug", "Mongolian White", "MongolianScript", "Code2000", "Menksoft Qagan";

  font-weight: normal;
  font-size: 1.25em;
  line-height: 1.25em;
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -o-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: tb-lr;
  vertical-align: text-top;
  overflow-wrap: normal;
  word-wrap: normal;

  margin: 1em auto;
}

[lang=ban] {
  font-family: "Noto Serif Balinese";
}

[lang=bbc] {
  font-family: "Noto Sans Batak";
}

.nastaliq {
  font-family: 'Noto Nastaliq Urdu', 'Urdu Typesetting', 'Roz Urdu Punjabi Nastaleeq', 'Jameel Noori Nastaleeq', 'Noto Nastaliq Urdu Draft', 'Hussaini Nastaleeq', 'AlQalam Taj Nastaleeq', IranNastaliq, 'Awami Nastaliq', 'Nafees Nastaleeq', 'Nafees Nastaleeq v1.01', 'Pak Nastaleeq', 'PDMS_Jauhar', 'Alvi Lahori Nastaleeq', 'Urdu Emad Nastaleeq', 'Urdu Emad Nastaleeq';
  font-size: 110%;
  font-style: normal;
}

:lang(aho) {
  font-family: "Noto Serif Ahom", serif;
}
